In [6]:
list1=["rohan","raj","chetan","naman"]
for x in list1:
    print(x)
    if x=="chetan":
     print("found")

rohan
raj
chetan
found
naman

In [20]:
x=input("enter the elements of array")
array=x.split()
print(array)
array.reverse()
print(array)

enter the elements of arraychetan rohan raj 45
['chetan', 'rohan', 'raj', '45']
['45', 'raj', 'rohan', 'chetan']

In [22]:
x=input("enter the elements of array1")
y=input("enter the elements of array2")
array1=x.split()
array2=y.split()
if array1==array2:
    print("array1 and array2 are equal")
else:
    print("array1 and array2 are not equal")

enter the elements of array1chetan rohan 22 11
enter the elements of array2chetan 11 r0han 22
array1 and array2 are not equal

In [32]:
x=input("enter the elements of an array")
array=x.split()
set1=set(array)
print(array)
#print(set1)
if len(array)==len(set1):
    print("false")
else:
    print("true")

enter the elements of an array10 11 12 13 14 10 12 13
['10', '11', '12', '13', '14', '10', '12', '13']
true

In [45]:
x=input()
list1=x.split()
print(list1)
del list1[2]
for x in list1:
    #if x=="cpu":
     print(x)

ram rom cpu cd
['ram', 'rom', 'cpu', 'cd']
ram
rom
cd

In [74]:
list3=["ram","rom","cpu","cd"]
for x in list3:
    if x=="rom":
        continue
    print(x)

ram
cpu
cd

In [69]:
list4=["che","ro","nam"]
list5=["tan","han","an"]
for x in list4:
    #print(x)
    for y in list5:
        print(x,y)

che tan
che han
che an
ro tan
ro han
ro an
nam tan
nam han
nam an

In [82]:
a=int(input("enter a number"))
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(a*x)

enter a number7
7
14
21
28
35
42
49
56
63
70

In [20]:
b=int(input("enter a number"))
for i in range(1,11):
    c=b*i
    print(b,"x",i,"=",c)

enter a number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [24]:
lst=[]
n=int(input("enter the number of elements"))
for i in range(n):
    x=int(input("enter them"))
    lst.append(x)
    print(x)
print(lst)

enter the number of elements3
enter them1
1
enter them2
2
enter them4
4
[1, 2, 4]

In [30]:
n=int(input("enter the no of persons name "))
print("enter the names of persons")
y=input()
lst1=y.split()
for i in range(n):
    print("hello ",lst1[i],"how are you")
    i=i+1

enter the no of persons name 3
enter the names of persons
chetan namam rohan
hello  chetan how are you
hello  namam how are you
hello  rohan how are you

In [36]:
n=int(input("enter the marks you have scored ina an subject "))
for i in range(n):
    if n>40 and n<50:
        print("E grade")
        break
    elif n>50 and n<60:
        print("D grade")
        break
    elif n>60 and n<70:
        print("C grade")
        break
    elif n>70 and n<80:
        print("B grade")
        break
    elif n>80 and n<90:
        print("A grade")
        break
    elif n>90 and n<100:
        print("S grdae")
        break
    else:
        print("fail")
        break

enter the marks you have scored ina an subject 35
fail