In [1]:
set1={"abcd","ABCD",1234}
print(set1)

{1234, 'abcd', 'ABCD'}

In [4]:
set1={"abcd","ABCD",1234}
set2={"chetan","rohan","shyam"}
set1.update(set2)
print(set1)

{'shyam', 'rohan', 1234, 'ABCD', 'chetan', 'abcd'}

In [11]:
x=input()
set1={x}
print(set1)

123,34
{'123,34'}

In [12]:
nameset={"chetan","rohan","shyam"}
nameset.add("ABCD")
print(nameset)

{'shyam', 'rohan', 'chetan', 'ABCD'}

In [13]:
nameset={"chetan","rohan","shyam"}
nameset.discard("shyam")
print(nameset)

{'rohan', 'chetan'}

In [32]:
x=input()
nameset=x.split
nameset={x}
print(nameset)
print(type(nameset))

1,2,3
{'1,2,3'}
<class 'set'>

In [33]:
x=input()
nameset={x}
y=input()
nameset1={y}
nameset.add("abcd")
nameset1.add("ABCD")
print(nameset)
print(nameset1)
nameset.update(nameset1)
print(nameset)

1,2
2,4
{'abcd', '1,2'}
{'2,4', 'ABCD'}
{'2,4', 'abcd', 'ABCD', '1,2'}

In [20]:
firstset={2,3,4,5}
secondset={1,3,4,5}
print(firstset|secondset)

{1, 2, 3, 4, 5}

In [24]:
set1={1,2,3,4,6}
set2={4,5,6}
print(set1&set2)

{4, 6}

In [25]:
set1={1,2,3,4,5}
set2={2,3,4,5,6}
print(set1^set2)

{1, 6}

In [35]:
set1={12,34,56}
set2={12,33,76}
set3={22,33,44}
print(set1|set2|set3)

{33, 34, 22, 56, 12, 44, 76}

In [44]:
dict={}
print("enter dictionary:")
print(dict)
dict[0]="peter"
dict[1]="john"
dict[2]="ricky"
print(dict)
dict["emp_ages"]=20,30,40
print(dict)

enter dictionary:
{}
{0: 'peter', 1: 'john', 2: 'ricky'}
{0: 'peter', 1: 'john', 2: 'ricky', 'emp_ages': (20, 30, 40)}

In [54]:
dict3={}
x=input()
y=int(input())
z=input()
dict3["name"]=x
dict3["age"]=y
dict3["place"]=z
print(dict3)

chetan
21
sattur
{'name': 'chetan', 'age': 21, 'place': 'sattur'}